<h1 id="tableLabel">Movies</h1>
<kendo-grid [data]="movies" [height]="410" (cellClick)="onCellClick($event)">
  <kendo-grid-column field="id" title="ID" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="name" title="Name" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="rating" title="Rating" width="120">
    <ng-template kendoGridCellTemplate let-dataItem>
      <ngb-rating [max]="5" [readonly]="true" [(rate)]="dataItem.rating"></ngb-rating>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<hr />
<app-add-movie></app-add-movie>