<h1 id="tableLabel">Movies</h1>

<p>Trending movies...</p>

<p *ngIf="!movies"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
  <thead>
    <tr>
      <th>Id</th>
      <th>Movie Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies" (click)="displayRow(movie)" >
      <td>{{ movie.id }}</td>
      <td>{{ movie.name }}</td>
      <td><ngb-rating formControlName="rating" [max]="5"  [readonly]="true" [(rate)]="movie.rating"></ngb-rating></td>
    </tr>
  </tbody>
</table>
<hr/>
<app-add-movie></app-add-movie>
